<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="io.crayfis.android"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-feature android:name="android.hardware.camera"
        android:required="true"/>
    <uses-feature android:name="android.hardware.location"
        android:required="true"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:name="io.crayfis.android.CFApplication"
        android:theme="@style/CrayfisApp">
        <activity
            android:name="io.crayfis.android.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>




        <receiver android:name=".broadcast.AutostartReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="io.crayfis.android.AUTOSTART" />
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcast.WifiReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcast.AlarmBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".server.UploadExposureService"
                 android:exported="false"/>

        <activity
            android:name=".DAQActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:theme="@style/CrayfisApp"/>

        <service
            android:name=".DAQService"
            android:exported="false"/>

        <activity android:name=".usernotif.UserNotificationActivity"
                  android:screenOrientation="portrait"/>

        <activity
            android:name=".UserSettingActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ConfigureAutostartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="io.crayfis.android.ConfigureAutostartActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="io.Fabric.ApiKey"
            android:value="2e730bea6fb33d746b55551b0fa2338ef7dfac5b"/>

    </application>
</manifest>
